{% extends "base.html" %}

{% block title %}<title>Subscription List | Elmer</title>{% endblock %}

{% block content %}

<h1 class="pageHeadingH1">
  <span class="pageHeadingSpan">Subscription List</span>
</h1>

<div class="alert alert-light text-center" role="alert">
  Subscribe interesting boards to populate your home feed with interesting subjects.
</div>

{% if subscriptions %}
  {% include "includes/partial_board.html" with boards=subscriptions %}
{% else %}
  <div class="card" style="margin:15px 0px; padding:10px;">
    <h6 class="text-center">No subscriptions found</h6>
    <div style="margin:0 auto;">
    <p class="text-muted">You have not subscribed any boards yet.</p>
    </div>
  </div>
{% endif %}

{% endblock %}
