{% extends 'base.html' %}
{% block title %}<title>Password Reset | Elmer</title>{% endblock %}

{% block content %}
<h1 class="pageHeadingH1"><span class="pageHeadingSpan">Password Reset</span></h1>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Password has been changed successfully.</h4>
    <h6>Your password has been set. You may go ahead and <a href="{% url 'login' %}">Login</a> now.</h6>
  </div>
</div>

<div class="card text-center" style="margin-top:15px;">
  <div class="card-body">
    Don't have an account? <a href="#" class="card-link">Sign up</a>
  </div>
</div>

{% endblock %}
