{% autoescape off %}
Dear {{ user.profile.screen_name }},

To initiate the password reset process for your {{ user.email }} Elmer Account, click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead. If you did not requested a new password, then ignore this email. Your password won't be changed.

Regards,
The Elmer Development Team
{% endautoescape %}
