{% extends 'base.html' %}
{% block title %}<title>Password Reset | Erebbit</title>{% endblock %}

{% block content %}
<h1 class="pageHeadingH1"><span class="pageHeadingSpan">Password Reset</span></h1>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Reset password link has been sent.</h4>
    <h6>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</h6>
    <h6>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</h6>
  </div>
</div>

<div class="card text-center" style="margin-top:15px;">
  <div class="card-body">
    Don't have an account? <a href="#" class="card-link">Sign up</a>
  </div>
</div>

{% endblock %}
