{% extends "base.html" %}
{% block title %}<title>Account Settings | Erebbit</title>{% endblock %}

{% block content %}
<style>
#password_change_form input {
    background-color: #f8f9fa;
}
#password_change_form input:focus {
    background-color: #fff;
}
label {
    font-weight:bold;
}
</style>
<h1 class="pageHeadingH1"><span class="pageHeadingSpan">Account Settings</span></h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'profile_edit' %}">Edit profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'picture_change' %}">Add picture</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'password_change' %}">Change password</a>
  </li>
</ul>
<br>
<form action="{% url 'password_change' %}" method="post" id="password_change_form">
  {% csrf_token %}
  <div class="form-group">
    <label for="id_old_password">Old password</label>
    <input type="password" class="form-control" id="id_old_password" maxlength="150" name="old_password" required>
  </div>
  <div class="form-group">
    <label for="id_new_password1">New Password</label>
    <input type="password" class="form-control" id="id_new_password1" maxlength="150" name="new_password1" required>
  </div>
  <div class="form-group">
    <label for="id_new_password2">Verify new password</label>
    <input type="password" class="form-control" id="id_new_password2" maxlength="150" name="new_password2" required>
  </div>

  <button type="submit" class="btn btn-success btn-block">Continue</button>
</form>

{% endblock %}
