{% extends 'base.html' %}
{% block title %}<title>Password Reset | Elmer</title>{% endblock %}

{% block content %}
<h1 class="pageHeadingH1"><span class="pageHeadingSpan">Password Reset</span></h1>

{% if validlink %}
  {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      Password did not matched. Try again.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
<style>
#pass_reset_form input {
    background-color: #f8f9fa;
}
#pass_reset_form input:focus {
    background-color: #fff;
}
label {
    font-weight:bold;
}
</style>
  <form method="post" id="pass_reset_form">{% csrf_token %}
    <div class="form-group">
      <label for="id_new_password1">New password</label>
      <input type="password" name="new_password1" required id="id_new_password1" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="id_new_password2">Verify password</label>
      <input type="password" name="new_password2" required id="id_new_password2" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Reset password</button>
  </form>
{% else %}
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Invalid password reset link</h4>
      <h6>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</h6>
    </div>
  </div>
{% endif %}

<div class="card text-center" style="margin-top:15px;">
  <div class="card-body">
    Don't have an account? <a href="#" class="card-link">Sign up</a>
  </div>
</div>
{% endblock %}
