{% extends "base.html" %}
{% load staticfiles %}
{% load frontboard_tags %}
{% load humanize %}

{% block title %}<title>Notifications | Elmer</title>{% endblock %}

{% block content %}

<h1 class="pageHeadingH1"><span class="pageHeadingSpan">Notifications</span></h1>

{% for event in events %}
<div class="card" style="border:none; border-bottom:1px solid #dcd7d7; margin-bottom:5px;">
  <div class="card-body" style="padding:10px;">
  {% if event.Object %}
    <h6><a href="{{ event.Object.get_absolute_url }}" class="card-link">{{event}}</a></h6>
    <span class="text-muted" title="{{event.created|date:"D d M Y"}} | {{event.created|time:"H:i:s"}}"><i class="fa fa-clock-o"></i> {{event.created|naturaltime}}</span>
  {% else %}
    {% if event.notif_type == 'sent_msg_request' %}
    <h6><a href="{% url 'all_message_requests' %}" class="card-link">{{event}}</a></h6>
    <span class="text-muted" title="{{event.created|date:"D d M Y"}} | {{event.created|time:"H:i:s"}}"><i class="fa fa-clock-o"></i> {{event.created|naturaltime}}</span>
    {% else %}
      <h6><a href="{% url 'user_profile' event.Actor.username %}" class="card-link">{{event}}</a></h6>
      <span class="text-muted" title="{{event.created|date:"D d M Y"}} | {{event.created|time:"H:i:s"}}"><i class="fa fa-clock-o"></i> {{event.created|naturaltime}}</span>
    {% endif %}
  {% endif %}
  </div>
</div>
{% empty %}
<div class="card">
  <div class="card-body text-center">
    <h4 class="card-title">No activities yet</h4>
  </div>
</div>
{% endfor %}


{% endblock %}
