{% extends "base.html" %}
{% load staticfiles %}
{% load frontboard_tags %}
{% load humanize %}

{% block title %}<title>Following | Erebbit</title>{% endblock %}

{% block content %}

<h1 class="pageHeadingH1"><span class="pageHeadingSpan">Following</span></h1>

{% for profile in profiles %}
<div class="card" style="border:none; border-bottom:1px solid #dcd7d7; margin-bottom:5px;">
  <div class="card-body" style="padding:10px;">
    <div class="text-center" style="float:left; width:10%;">
      {% if profile.user.profile.get_picture %}
      <img src="{{profile.user.profile.get_picture}}" class="rounded" width="50px" height="50px">
      {% endif %}
    </div>
    <div style="float:right; width:90%;">
      <h5 style="font-size:16px;"><a href="{% url 'user_profile' profile.user.username %}" class="card-link" title="{{profile.user.username}}">{{profile.screen_name}}</a></h5>
      <p class="text-muted">Member since <span title="{{profile.member_since|date:"D d M Y"}} | {{profile.member_since|time:"H:i:s"}}">{{profile.member_since|naturaltime}}</span></p>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
