<div class="text-muted" style="font-size:12px; margin-top:20px; padding:5px;">
  <a href="{% url 'privacy_policy' %}">Privacy policy</a><span> &middot; </span>
  <a href="{% url 'terms_of_service' %}">Terms of Use</a><span> &middot; </span>
  <a href="{% url 'about_us' %}">About</a><span> &middot; </span>
  <a href="{% url 'django.contrib.sitemaps.views.sitemap' %}">Sitemap</a><span> &middot; </span>
  <a href="#">Send Feedback</a><br>
  <span>Elmer &copy; 2018. All rights reserved.</span>
</div>
