{% extends "blog/index.html" %}
{% load staticfiles %}



{% block content %}

<div class="photos">
<div class="container">
		<h2>Photos</h2>	
<!-- portfolio-section -->
	 <div class="portfolio"  id="portfolio">
				<div id="portfoliolist">
				{% for image in images %}
					<div class="portfolio card mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="card" style="display: inline-block; opacity: 1;">
						<div class="portfolio-wrapper grid_box">		
							<a href="{{image.photo.url}}" class="swipebox"  title="Image Title"> <img src="{{image.photo.url}}" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
						</div>
					</div>	
					{% endfor %}			
					</div>							
					<div class="clearfix"></div>					
			</div>
					<div class="clearfix"></div>
		</div>
	
					
   

{% endblock %}