{% extends "blog/index.html" %}
{% load staticfiles %}
{% load humanize %}


{% block content %}
<div class="content">
	<div class="container">
	 <div class="load_more">	
			     <ul id="myList">
			        <!-- These are our grid blocks -->
			        <li>
			        
						<div class="l_g">
							<div class="col-md-3 praesent">
								<div class="l_g_r">
									<div class="dapibus">
										<h2>{{posts.0.title}}</h2>
										<p class="adm">Posted by <a href="#">{{posts.0.author}}</a>  |  {{posts.0.publish|naturaltime}}</p>
										<a href="{{posts.0.get_absolute_url}}"><img src="{{posts.0.photo.url}}" class="img-responsive" alt=""></a>
										<p>{{posts.0.body|truncatewords:15}} </p>
										<a href="{{posts.0.get_absolute_url}}" class="link">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 integ">
								<div class="l_g_r">
									<div class="integer">
										<h3>{{posts.1.title}}</h3>
										<p class="adm">Posted by <a href="#">{{posts.1.author}}</a>  |  {{posts.1.publish|naturaltime}}</p>
										<a href="{{posts.1.get_absolute_url}}"><img src="{{posts.1.photo.url}}" class="img-responsive" alt=""></a>
										<p>{{posts.1.body|truncatewords:15}}</p>
										<a href="{{posts.1.get_absolute_url}}" class="link">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 integ">
								<div class="l_g_r">
									<div class="dapibus">
										<h3>{{posts.2.title}}</h3>
										<p class="adm">Posted by <a href="#">{{posts.2.author}}</a>  |  {{posts.2.publish|naturaltime}}</p>
										<a href="{{posts.2.get_absolute_url}}"><img src="{{posts.2.photo.url}}" class="img-responsive" alt=""></a>
										<p>{{posts.2.body|truncatewords:15}}</p>
										<a href="{{posts.2.get_absolute_url}}" class="link">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 integ">
								<div class="l_g_r">
									<div class="posts">
										<h4>Recent posts</h4>
									{% for p in recent_posts %}
										<h6><a href="{{p.get_absolute_url}}">{{p.title|truncatewords:5}}</a></h6>
									{% endfor %}
									</div>
									<div class="comments">
										<h4>Recent Comments</h4>
									{% for c in recent_comments %}
										<h6><a href="{{c.post.get_absolute_url}}">{{c|truncatewords:5}}</a></h6>
									{% endfor %}
									</div>
									<div class="archievs">
										<h4>Github Repositories</h4>
										<h6><a href="https://www.github.com/NothingxFluctuation">NothingxFluctuation</a></h6>
										<h6><a href="https://www.github.com/UniEon">UniEon</a></h6>
									</div>

								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</li>
					 <li>
						<div class="l_g">
							<div class="col-md-3 praesent">
								<div class="l_g_r">
									<div class="dapibus">
										<h3>{{posts.3.title}}</h3>
										<p class="adm">Posted by <a href="#">{{posts.3.author}}</a>  |  {{posts.3.publish|naturaltime}}</p>
										<a href="{{posts.3.get_absolute_url}}"><img src="{{posts.3.photo.url}}" class="img-responsive" alt=""></a>
										<p>{{posts.3.body|truncatewords:15}}</p>
										<a href="{{posts.3.get_absolute_url}}" class="link">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 integ">
								<div class="l_g_r">
									<div class="integer">
										<h3>{{posts.4.title}}</h3>
										<p class="adm">Posted by <a href="#">{{posts.4.author}}</a>  |  {{posts.4.publish|naturaltime}}</p>
										<a href="{{posts.4.get_absolute_url}}"><img src="{{posts.4.photo.url}}" class="img-responsive" alt=""></a>
										<p>{{posts.4.body|truncatewords:15}}</p>
										<a href="{{posts.4.get_absolute_url}}" class="link">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 integ">
								<div class="l_g_r">
									<div class="lorem">
										<h3>{{posts.5.title}}</h3>
										<p class="adm">Posted by <a href="#">{{posts.5.author}}</a>  |  {{posts.5.publish|naturaltime}}</p>
										<a href="{{posts.5.get_absolute_url}}"><img src="{{posts.5.photo.url}}" class="img-responsive" alt=""></a>
										<p>{{posts.5.body|truncatewords:15}}</p>
										<a href="{{posts.5.get_absolute_url}}" class="link">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 integ">
								<div class="l_g_r">
									<div class="categories">
										<h4>Files</h4>
										<h6><a href="https://www.python.org/">Get Python</a></h6>
										<h6><a href="https://notepad-plus-plus.org/">Get Notepad++</a></h6>
										<h6><a href="http://oez.es/Starting%20Out%20with%20Python.pdf">Starting out with Python (book)</a></h6>
										<h6><a href="https://www.nceclusters.no/globalassets/filer/nce/diverse/the-pragmatic-programmer.pdf">The pragmatic Programmer (book)</a></h6>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</li>
					<li>
						<div class="l_g">
							<div class="col-md-3 praesent">
								<div class="l_g_r">
									<div class="dapibus">
										<h2>{{posts.6.title}}</h2>
										<p class="adm">Posted by <a href="#">{{posts.6.author}}</a>  |  {{posts.6.publish|naturaltime}}</p>
										<a href="{{posts.6.get_absolute_url}}"><img src="{{posts.6.photo.url}}" class="img-responsive" alt=""></a>
										<p>{{posts.6.body|truncatewords:15}}</p>
										<a href="{{posts.6.get_absolute_url}}" class="link">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 integ">
								<div class="l_g_r">
									<div class="vitae">
										<h3>{{posts.7.title}}</h3>
										<p class="adm">Posted by <a href="#">{{posts.7.author}}</a>  |  {{posts.7.publish|naturaltime}}</p>
										<a href="{{posts.7.get_absolute_url}}"><img src="{{posts.7.photo.url}}" class="img-responsive" alt=""></a>
										<p>{{posts.7.body|truncatewords:15}}</p>
										<a href="{{posts.7.get_absolute_url}}" class="link">Read More</a>
									</div>

								</div>
							</div>
							<div class="col-md-3 praesent">
								<div class="l_g_r">
									<div class="integer">
										<h3>{{posts.8.title}}</h3>
										<p class="adm">Posted by <a href="#">{{posts.8.author}}</a>  |  {{posts.8.publish|naturaltime}}</p>
										<a href="{{posts.8.get_absolute_url}}"><img src="{{posts.8.photo.url}}" class="img-responsive" alt=""></a>
										<p>{{posts.8.body|truncatewords:15}}</p>
										<a href="{{posts.8.get_absolute_url}}" class="link">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 integ">
								<div class="l_g_r">
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</li>
					 
					<div class="clearfix"></div>

			      </ul>

			    </div>
	</div>
</div>
<!--

{% endblock %}