{% extends 'base.html' %}
{% block title %}<title>Password Reset | Elmer</title>{% endblock %}

{% block content %}
{% include "includes/page_heading.html" with text="Password Reset" %}

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Password has been changed successfully.</h4>
    <h6>Your password has been set. You may go ahead and <a href="{% url 'login' %}">login</a> now.</h6>
  </div>
</div>

<div class="card text-center mt-4">
  <div class="card-body">
    Don't have an account? <a href="{% url 'signup' %}" class="card-link">Sign Up</a>
  </div>
</div>
{% endblock %}
