{% extends 'base.html' %}
{% block title %}<title>Password Reset | Elmer</title>{% endblock %}

{% block content %}
{% include "includes/page_heading.html" with text="Password Reset" %}

{% if form.errors %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    Please enter a valid email address to reset password.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}

<style>
#pass_reset_form #id_email {
    background-color: #f8f9fa;
}
#pass_reset_form #id_email:focus {
    background-color: #fff;
}
span#required_inp {
    color:red;
}
label {
    font-weight:bold;
}
</style>

<form method="post" id="pass_reset_form">{% csrf_token %}
  <div class="form-group">
    <label for="id_email">Email address</label>
    <input type="email" class="form-control" name="email" maxlength="254" required id="id_email">
    <small id="email_help" class="form-text text-muted">Enter your email address to get password reset link.</small>
  </div>
  <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>

<div class="card text-center mt-4">
  <div class="card-body">
    Don't have an account? <a href="{% url 'signup' %}" class="card-link">Sign up</a>
  </div>
</div>

{% endblock %}
