{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}<title>Account Settings | Elmer</title>{% endblock %}

{% block content %}
{% include "includes/page_heading.html" with text="Account Settings" %}

<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'profile_edit' %}">Edit profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'picture_change' %}">Add picture</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'password_change' %}">Change password</a>
  </li>
</ul>

<form action="{% url 'password_change' %}" method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class="btn btn-success btn-block">Update Password</button>
</form>

{% endblock %}
