{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}<title>Password Reset | Elmer</title>{% endblock %}

{% block content %}
{% include "includes/page_heading.html" with text="Password Reset" %}

{% if validlink %}
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class="btn btn-primary btn-block">Reset password</button>
</form>
{% else %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Invalid password reset link</h4>
    <h6>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</h6>
  </div>
</div>
{% endif %}

<div class="card text-center mt-4">
  <div class="card-body">
    Don't have an account? <a href="{% url 'signup' %}" class="card-link">Sign Up</a>
  </div>
</div>
{% endblock %}
