{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}<title>Password Reset | Elmer</title>{% endblock %}

{% block content %}
{% include "includes/page_heading.html" with text="Password Reset" %}

<form method="post" id="pass_reset_form">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>

<div class="card text-center mt-4">
  <div class="card-body">
    Don't have an account? <a href="{% url 'signup' %}" class="card-link">Sign Up</a>
  </div>
</div>

{% endblock %}
