{% extends "base.html" %}
{% block title %}<title>Account Settings | Elmer</title>{% endblock %}

{% block content %}
{% include "includes/page_heading.html" with text="Account Settings" %}

<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'profile_edit' %}">Edit profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'picture_change' %}">Add picture</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'password_change' %}">Change password</a>
  </li>
</ul>

<div class="alert alert-success">
  <h4 class="alert-heading">Password changed!</h4>
  <h6>Your password is successfully changed. Now use your new password while logging in. Thank you.</h6>
</div>
{% endblock %}
