{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}<title>Sign Up | Elmer</title>{% endblock %}

{% block form_content %}
{% include "includes/page_heading.html" with text="Register to Elmer" %}

<form action="{% url 'signup' %}" method="post" data-check-username-url="{% url 'check_username' %}">
  {% csrf_token %}
  {{ user_form|crispy }}
  <div class="g-recaptcha mb-4" data-sitekey="6LcxazUUAAAAAJstEHfmrSDE5QFqSrPUHqozW9XQ"></div>
  <button type="submit" class="btn btn-success btn-block">Sign Up</button>
  <small class="form-text text-muted text-center">
    By signing up, you agree to our <a href="/legal/terms/">terms of service</a> &amp; <a href="/legal/privacy/">privacy policy</a>.
  </small>
</form>

<div class="card text-center mt-4">
  <div class="card-body">
    Already have an account? <a href="{% url 'login' %}" class="card-link">Login</a>
  </div>
</div>

<script type="text/javascript">
  // Check username availability.
  $("#id_username").on("keyup change", function(){
    var username_field = $(this);
    var form = $(this).closest("form");
    $.ajax({
      url: form.attr("data-check-username-url"),
      data: form.serialize(),
      dataType: 'json',
      success: function (data) {
        if (data.is_taken) {
          username_field.removeClass('is-valid').addClass('is-invalid');
        } else {
          username_field.removeClass('is-invalid').addClass('is-valid');
        }
      }
    });
    return false;
  });
</script>
{% endblock %}
