{% extends "base.html" %}

{% block title %}<title>Sign Up | Elmer</title>{% endblock %}

{% block form_content %}
<style>
#register_form input {
    background-color: #f8f9fa;
}
#register_form input:focus {
    background-color: #fff;
}
span#required_inp {
    color:red;
}
label {
    font-weight:bold;
}
</style>
{% include "includes/page_heading.html" with text="Register to Elmer" %}

{% if user_form.errors %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    A user with that username already exists.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}

<form action="{% url 'signup' %}" method="post" id="register_form" data-check-username-url="{% url 'check_username' %}">{% csrf_token %}
  <div class="form-group">
    <label for="id_username"><span id="required_inp">*</span>Username</label>
    <input type="text" class="form-control" id="id_username" name="username" aria-describedby="username_help" maxlength="30" required>
  </div>

  <div class="form-group">
    <label for="id_email">Email address</label>
    <input type="email" class="form-control" id="id_email" name="email" aria-describedby="email_help">
  </div>

  <div class="form-group">
    <label for="id_password"><span id="required_inp">*</span>Password</label>
    <input type="password" class="form-control" id="id_password" name="password" aria-describedby="password_help" maxlength="150" required>
  </div>
  <div class="g-recaptcha" data-sitekey="6LcxazUUAAAAAJstEHfmrSDE5QFqSrPUHqozW9XQ"></div><br>

  <button type="submit" class="btn btn-success btn-block">Sign Up</button>
  <small class="form-text text-muted">By signing up, you agree to our <a href="/legal/terms/">terms of service</a> &amp; <a href="/legal/privacy/">privacy policy</a>.</small>
</form>


<div class="card text-center mt-4">
  <div class="card-body">
    Already have an account? <a href="{% url 'login' %}" class="card-link">Login</a>
  </div>
</div>


<script type="text/javascript">
  // Check username availability.
  $("#id_username").on("keyup change", function(){
    var username_field = $(this);
    var form = $(this).closest("form");
    $.ajax({
      url: form.attr("data-check-username-url"),
      data: form.serialize(),
      dataType: 'json',
      success: function (data) {
        if (data.is_taken) {
          username_field.removeClass('is-valid').addClass('is-invalid');
        } else {
          username_field.removeClass('is-invalid').addClass('is-valid');
        }
      }
    });
    return false;
  });
</script>

{% endblock %}
