{% extends "base.html" %}
{% load humanize %}

{% block title %}<title>{{user.profile.screen_name}} | Elmer</title>{% endblock %}

{% block content %}

{% if request.user.username == user.username %}
  {% include "includes/page_heading.html" with text="Your Profile" %}
{% else %}
  {% include "includes/page_heading.html" with text=user.profile.screen_name %}
{% endif %}

<style>
#profile_user_links a { border-radius: 100px; padding: 4px 15px; margin:15px; border: 1px solid #d6d6d6; }
#profile_user_links a:hover { border: 1px solid #3f51b5; }
</style>

<div class="card" style="width:25%; float:left; border:none;">
  <img class="card-img-top" src="{{ user.profile.get_picture }}">
</div>

<div class="card" style="width:75%; float:right; border:none;">
  <div class="card-body">
    <h4 class="card-title">
    {{ user.profile.screen_name }} &nbsp;
    {% ifequal request.user user %}
    {% else %}
      {% if not request.user in user.profile.contact_list.all %}
        {% if request.user in user.profile.pending_list.all %}
            <a href="{% url 'send_message_request' user.id %}"
               class="btn btn-primary btn-sm"
               id="send_message_request"
               style="margin-right: 10px;"
               title="Request sent to this users">Request Sent</a>
        {% else %}
            <a href="{% url 'send_message_request' user.id %}"
               class="btn btn-outline-primary btn-sm"
               id="send_message_request"
               style="margin-right: 10px;"
               title="Send request to this user to start conversation">Send Request</a>
        {% endif %}
      {% else %}
            <!-- Block User Trigger -->
            <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#blockUserModel">Block</button>

            <!-- Block User Modal -->
            <div class="modal fade" id="blockUserModel" tabindex="-1" role="dialog" aria-labelledby="Block User" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h5>Once you block the user, you can not message him again until he accepts your request.</h5><br>
                    <p>If user is being annoying to you, block him right away.</p>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                    <a href="{% url 'block_spammer' user.id %}" class="btn btn-primary btn-sm" id="block_spammer" style="margin-right: 10px;" title="Block this user">Block</a>
                  </div>
                </div>
              </div>
            </div>
            <a href="{% url 'messages' user.username %}" class="btn btn-outline-primary btn-sm" id="send_msg" title="Send message to this user" style="margin-right: 10px;">Message</a>
      {% endif %}
    {% endifequal %}

    {% ifequal request.user user %}
    {% else %}
    	{% if request.user in user.profile.followers.all %}
      		<a href="{% url 'follow_user' user.id %}" class="btn btn-primary btn-sm" id="follow_user">Unfollow</a>
    	{% else %}
        	<a href="{% url 'follow_user' user.id %}" class="btn btn-outline-primary btn-sm" id="follow_user">Follow</a>
    	{% endif %}
    {% endifequal %}

    </h4>
    <p class="card-text"><strong>{{user.inspected_boards.count}}</strong> boards created.</p>
    <p class="card-text"><strong>{{user.posted_subjects.count}}</strong> subjects posted.</p>
    <p class="card-text"><strong>{{user.subscribed_boards.count}}</strong> boards subscribed.</p>
    <p class="card-text">Member since <span title="{{ user.profile.member_since|date:"D d M Y" }} | {{ user.profile.member_since|time:"H:i:s" }}">{{ user.profile.member_since|date:"M d Y" }}</span></p>
    <br>
    <p id="profile_user_links" style="text-align:center;"><a href="{% url 'user_subscription_list' user.username %}" class="card-link">View subscription list</a><span> &middot; </span>
    {% ifequal request.user user %}
    <a href="{% url 'profile_edit' %}" class="card-link">Edit profile</a><br><br>
    <a href="{% url 'view_all_followers' %}" class="card-link">Followers</a><span> &middot; </span>
    <a href="{% url 'view_following' %}" class="card-link">Following</a><br><br>
    <a href="{% url 'all_message_requests' %}" class="card-link">Message requests</a><span> &middot; </span>
    <a href="{% url 'all_friends' %}" class="card-link">Contact list</a></p>
    {% endifequal %}
  </div>
</div>

<div style="clear:both;"></div>

{% if request.user.username == user.username %}
  {% include "includes/page_heading.html" with text="Your Recent Posts" %}
{% else %}
  {% include "includes/page_heading.html" with text="Recent Posts" %}
{% endif %}

{% if subjects %}
  {% include "includes/partial_subject.html" with subjects=subjects %}
{% else %}
<div class="card p-4 my-4 mx-0">
  <h6 class="text-center">No Posts Found</h6>
  <div style="margin:0 auto;">
  <p class="text-muted">You don't have any posts right now.</p>
  </div>
</div>
{% endif %}


<script type="text/javascript">
// Send Request
$(document).ready(function(){
  $("a#send_message_request").on("click", function () {
    {% if not request.user.is_authenticated %}
    window.location.href = "{% url 'login' %}";
    {% else %}
    var $add_btn = $(this);
    var $add_url = $(this).attr("href");
    $.ajax({
      url: $add_url,
      type: 'GET',
      success: function (data) {
        $add_btn.text(data);

        if ($add_btn.hasClass('btn-outline-primary')) {
          $add_btn.removeClass('btn-outline-primary').addClass('btn-primary');
        }
        else if ($add_btn.hasClass('btn-primary')) {
          $add_btn.removeClass('btn-primary').addClass('btn-outline-primary');
        }
        else {
          console.log('Unexpected error!');
        }
      }
    });
    {% endif %}
    return false;
  });
});
</script>

<script>
// Follow user
$(document).ready(function(){
    $("a#follow_user").on("click", function () {
    {% if not request.user.is_authenticated %}
    window.location.href = "{% url 'login' %}";
    {% else %}
    var $follow_btn = $(this);
    var $follow_url = $(this).attr("href");
    $.ajax({
      url: $follow_url,
      type: 'GET',
      success: function (data) {
        $follow_btn.text(data);

        if ($follow_btn.hasClass('btn-outline-primary')) {
          $follow_btn.removeClass('btn-outline-primary').addClass('btn-primary');
        }
        else if ($follow_btn.hasClass('btn-primary')) {
          $follow_btn.removeClass('btn-primary').addClass('btn-outline-primary');
        }
        else {
          console.log('Unexpected error!');
        }
      }
    });
    {% endif %}
    return false;
  });
});
</script>
{% endblock %}
