{% extends "base.html" %}
{}


{% block title %}<title>Contact List | Elmer</title>{% endblock %}

{% block content %}

<h1 class="pageHeadingH1">
  <span class="pageHeadingSpan">Contact List</span>
</h1>

{% if users %}
  {% include "user_accounts/includes/partial_user.html" with users=users %}
{% else %}
  <div class="card" style="margin:15px 0px; padding:10px;">
    <h6 class="text-center">No contacts found</h6>
    <div style="margin:0 auto;">
    <p class="text-muted">You don't have any contact right now.</p>
    </div>
  </div>
{% endif %}

{% endblock content %}
