{% load staticfiles boards_tags %}<!doctype html>
<html lang="en">
  <head>
    {% block title %}<title>Elmer - A social network inspired by reddit</title>{% endblock %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block meta_description %}Elmer is a social platform where people can share their thoughts, knowledge and ideas. It's a place for communities, linkups, cyber meetings and much more. You can join already existing communities/boards and make new friends or create new ones for yourselves and invite your current friends. Pakistani social site for pakistani youngsters.{% endblock %}">
    <meta name="keywords" content="elmer, pakistani social site, pakistan, educational boards, students, pakistani community, sharing ideas through elmer, programming, engineering, creating boards">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}?v=1">

    <link rel="icon" type="image/png" href="{% static 'img/elmer_logo.png' %}?lastmod=1">
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114156398-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114156398-1');
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    {% block head %}{% endblock %}

  </head>
  <body>

    {% include 'includes/header.html' %}

    {% if not bv %}
      {% if request.user.is_authenticated %}
        {% boards_container_items request.user %}
      {% endif %}
    {% endif %}

    {% if not form_filling %}

      {% if not request.user.is_authenticated %}
        {% if signup_quote %}
          {% include "includes/signup_quote.html" %}
        {% endif %}
      {% endif %}

      {% if bv %}
        {% include "includes/board_cover.html" %}
        {% if request.user.is_authenticated %}
            {% boards_container_items request.user %}
        {% endif %}
      {% endif %}

      {% include 'includes/messages.html' %}

      <div class="container content_block">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            {% block content %}
            {% endblock %}

            {% if page_obj %}
              {% include "pagination.html" %}
            {% endif %}
          </div>

          <div class="col-lg-4 col-md-4">
          {% if bv %}
                {% include "includes/board_info.html" %}
          {% else %}
                <a href="{% url 'new_subject' %}" class="btn btn-primary btn-block mt-4" role="button" title="Create new post" style="font-weight:bold;letter-spacing:0.8px;">CREATE NEW POST</a>
          {% endif %}
          {% if request.user.is_authenticated %}
            {% if not bv %}
              {% show_active_threads request.user %}
            {% endif %}
          {% endif %}
          {% if not bv %}
              {% top_five_boards %}
          {% endif %}

          {% include 'includes/footer.html' %}
          </div>
        </div>
      </div>

  {% else %}
    <div class="container form_content_block">
      <div class="row">
        <div class="container" style="margin:0 auto; width:50%;">
          {% block form_content %}
          {% endblock %}
        </div>
      </div>

      {% include 'includes/centered_footer.html' %}

    </div>
  {% endif %}

    <!-- JS FILES: AJAX, UX -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="{% static 'js/core_func.js' %}"></script>
    <script src="{% static 'js/check_messages.js' %}"></script>
  </body>
</html>
