{% extends "base.html" %}

{% block title %}<title>{{ board.title }} | Elmer</title>{% endblock %}

{% block content %}

<h1 class="pageHeadingH1">
  <span class="pageHeadingSpan">{{ board.title|upper }}</span>
</h1>

{% if subjects %}
  {% include "frontboard/includes/partial_subject.html" with subjects=subjects %}
{% else %}
  <div class="card" style="margin:15px 0px; padding:10px;">
    <h6 class="text-center">No subjects found</b></h6>
    <div style="margin:0 auto;">
    <p class="text-muted">Be the first one to post a subject in this board.</p>
    </div>
  </div>
{% endif %}

{% endblock %}
